
#error {
    height: 100vh;
    background-color: #ebf3ff;
    overflow: hidden;
    padding-top: 3rem;
}

#error .img-error {
    width: 70%;
    display: block;
    margin: auto;
}

#error .error-title {
    font-size: 4rem;
    margin-top: 3rem
}