/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
body.dark-theme{
    --first-color: rgb(135, 33, 245);
    --first-color-alt: rgb(176, 5, 215);
    --title-color: rgb(255, 255, 255);
    --text-color: rgb(89, 89, 89);
    --text-color-white: rgb(255, 255, 255);
    --text-color-light: rgb(140, 140, 140);
    --body-color: rgb(0, 0, 0);
    --container-color: #fff;
    --scroll-bar-color: rgb(218, 215, 215);
    --scroll-thumb-color: rgb(194, 189, 189);
    --border-color: rgb(107, 5, 215);
    --hover-color: rgb(0, 0, 0);
    --btn-color-alt: rgb(11, 11, 11);
    --navcon-color-alt: rgb(135, 33, 245);
    

}

/*========== Button Dark/Light ==========*/
.change-theme {
    position: absolute;
    right: 1.5rem;
    top: 2.2rem;
    color: var(--title-color);
    font-size: 1.8rem;
    cursor: pointer;
}

.dark-theme .footer{
    background-color: var(--first-color);
}